<h1>RECIPES OF THE WEEK</h1>




<swiper-container autoplay-disable-on-interaction="false" loop="true" space-between="30" slides-per-view="2" pagination="true" pagination-clickable="true">
    <swiper-slide>
        <img [src]="salad1" />
        <div class="text-overlay">
            <h2 class="title">Salad 1</h2>
            <p class="subtitle">Fresh and Healthy</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <img [src]="salad2" />
        <div class="text-overlay">
            <h2 class="title">Salad 2</h2>
            <p class="subtitle">Tasty and Delicious</p>
        </div>
    </swiper-slide>
    <swiper-slide>
        <img [src]="fruit3" />
        <div class="text-overlay">
            <h2 class="title">Fruit Mix</h2>
            <p class="subtitle">Sweet and Juicy</p>
        </div>
    </swiper-slide>
    <!-- Add more slides as needed -->
</swiper-container>

<section class="daySection">
    <div class="miniDay">
        <div class="dayText">
            <h2>OUR PICK OF THE DAY</h2>
            <p>It`s his Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, exercitationem!</p>
        </div>
    </div>
    <div class="miniDay">
        <div class="dayImg">
            <img [src]="fruit3" />

        </div>

    </div>

</section>



<div class="row mt-5">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Brukniu pyragas:</h5>
                <img [src]="pyra" style="max-width: 70%;" />
                <p class="card-text">Desertai</p>
                <a href="#" class="btn btn-success">Grižti</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Jautienos Kukuliai:</h5>
                <img [src]="kukul" style="max-width: 70%;" />
                <p class="card-text">Pagrindinis patiekalas</p>
                <a href="#" class="btn btn-success">Grižti</a>
            </div>
        </div>
    </div>
</div>



<div class="container my-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-black" style="background-color: rgba(144, 238, 144, 0.3)">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Autore
                        </h6>
                        <p>
                            Eglė Tarabildienė
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold text-black">Naudota</h6>
                        <p>
                            <a class="text-black"></a>
                        </p>
                        <p>
                            <a></a>
                        </p>
                        <p>
                            <a></a>
                        </p>
                        <p>
                            <a></a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Kontaktai</h6>
                        <p><i class="fas fa-home mr-3"></i>Lietuva</p>

                        <p><i class="fas fa-phone mr-3"></i> +37064892060</p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Git hub</h6>

                        <!-- Facebook -->
                        <a href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

                        <!-- Twitter -->
                        <a href="#!" role="button"><i class="fab fa-twitter"></i></a>

                        <!-- Google -->
                        <a href="#!" role="button"><i class="fab fa-google"></i></a>

                        <!-- Instagram -->
                        <a href="#!" role="button"><i class="fab fa-instagram"></i></a>

                        <!-- Linkedin -->
                        <a href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Github -->
                        <a href="#!" role="button"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2024

        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!--<app-image-slider></app-image-slider>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img [src]="" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img [src]="" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img [src]="" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>-->