<button (click)=" openModel()">Test popout</button>

<div class="modal" id="myModal">
    <div class="modalContent">
        <span (click)="closeModel()" class="close">&times;</span>
        <h1>Do you realy want to delete</h1>
        <hr>
        <button (click)="closeModel()">Delete</button>


    </div>
</div>



<section class="recipes">
    <h1>FEATURED RECIPES</h1>
    <div class="recipe-section">
        <div class="recipe-card" *ngFor="let product of products; let i = index;">

            <img [src]="product.file" alt="{{ product.name }}" [routerLink]="['recipe', product.id]" />
            <app-star [rating]="5"></app-star>
            <h2>{{ product.name }}</h2>
            <p>{{ getMealName(product.meals_id) }}</p>
            <div class="card-footer" *ngIf="authService.canEditUsers()">
                <div class="migtukas">
                    <a *ngIf="authService.canEdit()" [routerLink]="['/products', product.id]">Edit</a>
                    <button (click)="deleteProduct(product.id!)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="container my-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-black" style="background-color: #f8f8f8">
        <!--   (click)="deleteProduct(product.id!)"                 Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            About us
                        </h6>
                        <p>

                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold text-black">Privacy Policy</h6>
                        <p>
                            <a class="text-black"></a>
                        </p>
                        <p>
                            <a></a>
                        </p>
                        <p>
                            <a></a>
                        </p>
                        <p>
                            <a></a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Terms & Conditions</h6>
                        <p><i class="fas fa-home mr-3"></i></p>

                        <p><i class="fas fa-phone mr-3"></i> </p>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact Us</h6>

                        <!-- Facebook -->
                        <a href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

                        <!-- Twitter -->
                        <a href="#!" role="button"><i class="fab fa-twitter"></i></a>

                        <!-- Google -->
                        <a href="#!" role="button"><i class="fab fa-google"></i></a>

                        <!-- Instagram -->
                        <a href="#!" role="button"><i class="fab fa-instagram"></i></a>

                        <!-- Linkedin -->
                        <a href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Github -->
                        <a href="#!" role="button"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2024

        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>























<!--<div class="row">
    <div class="col-md-4 mt-3" *ngFor="let product of products; let i = index;">
        <div class="card">

            <div class="card-header" style="background-color: rgba(144, 238, 144, 0.3); text-align: center;"><strong>{{ product.name }}</strong></div>
            <div class="card-body">
                <td>
                    <img [src]="product.file" alt="{{ product.name }}" class="img-thumbnail fonas" style="min-width: 30px;" [routerLink]="['recipe', product.id ]" />
                </td>
                <app-star [rating]="5"></app-star>
                <div>
                    {{ getMealName(product.meals_id) }}
                </div>

            </div>
            <div class="card-footer" *ngIf="authService.canEditUsers()">
                <div class="d-flex justify-content-between">
                    <a class="btn btn-success flex-fill me-1" *ngIf="authService.canEdit()" style="min-width: 30px;" [routerLink]="['/products', product.id]">Redaguoti</a>
                    <button class="btn btn-danger flex-fill ms-1" (click)="deleteProduct(product.id!)">Ištrinti</button>
                </div>
            </div>
        </div>
    </div>
</div>
-->


















<!--<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Paveikslėlis</th>
                <th>Pavadinimas</th>
                <th>Sudedamosios dalys</th>
                <th>Kiekis</th>
                <th>Veiksmai</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>
                    <img [src]="product.file" alt="{{ product.name }}" class="img-thumbnail" style="max-width: 100px;" />
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.part }}</td>
                <td>{{ product.count }}</td>
                <td>
                    <div *ngIf="authService.canEdit()" class="d-flex justify-content-between">
                        <a class="btn btn-success me-1" [routerLink]="['/products', product.id]">Redaguoti</a>
                        <button class="btn btn-danger ms-1" (click)="deleteProduct(product.id!)">Ištrinti</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>                             






modalas

<section class="recipes">
    <h1>FEATURED RECIPES</h1>
    <div class="recipe-section">
        <div class="recipe-card" *ngFor="let product of products; let i = index;">
            <img [src]="product.file" alt="{{ product.name }}" [routerLink]="['recipe', product.id]" />
            <app-star [rating]="5"></app-star>
            <h2>{{ product.name }}</h2>
            <p>{{ getMealName(product.meals_id) }}</p>
            <div class="card-footer" *ngIf="authService.canEditUsers()">
                <div class="migtukas">
                    <a *ngIf="authService.canEdit()" [routerLink]="['/products', product.id]">Edit</a>
                    <button data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+product.id">Delete</button>

                    <div class="modal fade" [attr.id]="'exampleModal'+product.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Confirmation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure to delete? <span>{{ product.name }}</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button (click)="deleteProduct(product.id!)" type="button" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


















-->