<section class="home">
    <div class="home-content">
        <h3>About me</h3>
        <h1><span>Eglė Tarabildienė </span> </h1>
        <h1> a Fronted Developer</h1>
        <h5>Contact me:</h5>
        <h5><span>https://github.com/EgleTarabildiene</span></h5>
        <img [src]="qr1" style="width:100px" />
        <h5><span>https://www.linkedin.com/in/egle-tarabildiene-8119912b0/</span></h5>
        <img [src]="qr2" style="width:100px" />
    </div>
    <div class="img-box">
        <img [src]="foto" />
        <div class="image"></div>


    </div>






</section>