<div class="back" style="padding-top:200px;"></div>


<div *ngIf="product">
    <section class="recipeContainer ">

        <div class="miniRecipe ">
            <div class="foto">
                <img [src]="product.file" class="card-img-top mt-3" style="border-bottom: 2px solid yellowgreen;" [alt]="product.name">
            </div>
        </div>


        <div class="miniRecipe">
            <div class="text">
                <h2>{{ product.name }}</h2>
                <div class="sudetis">


                    <h4>INGRIDIENTS:</h4>
                    <p>{{ product.part }}</p>
                </div>
                <h4>METHOD:</h4>
                <p>{{ product.count }}</p>


            </div>
        </div>



    </section>
</div>


<!--


<div *ngIf="product" class="card m-3">
    <app-star [rating]="5"></app-star>
    <img [src]="product.file" class="card-img-top mt-3" style="border-bottom: 2px solid yellowgreen;" [alt]="product.name">
    <div class="card-body">

        <h4 class="card-title"><strong>{{ product.name }}</strong></h4>
        <p class="card-text"><b>Sudedamosios dalys: </b> <em>{{ product.part }}</em></p>
        <p class="card-text"><b>Aprašymas: </b><em>{{ product.count }}</em></p>
        <p class="card-text">
            <small class="text-body-secondary"></small>
        </p>

        <div>
            Autorius: {{ user?.name }}
        </div>
    </div>
</div>

























<div *ngIf="product" class="card m-3">
    <img [src]="product.file" class="card-img-top mt-3" [alt]="product.name">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text"><strong>Sudedamosios dalys:</strong> {{ product.part }}</p>
        <p class="card-text"><strong>Aprašymas:</strong> {{ product.count }}</p>
        <p class="card-text">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </p>
    </div>
</div>-->