<div class="back" style="padding-top:200px;"></div>
<div class="card">
    <div class="card-header" style="background-color: rgb(51, 113, 121);">
        <h6>USERS LIST</h6>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th></th>
                    <th>EMAIL</th>
                    <th>NAME</th>
                    <th>TYPE</th>
                    <th>Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i=index;">
                    <td>{{ i+1 }}</td>
                    <td><img [src]="user.img" alt="" style="max-width: 100px;"></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.getTypeName() }}</td>
                    <td>
                        <a class="btn btn-success mx-3" style="background-color: rgb(51, 113, 121);" [routerLink]="['/users',user.id]">EDIT</a>
                        <a class="btn btn-danger" (click)="onDeleteClick(user.id!)">DELETE</a>
                    </td>


                </tr>

            </tbody>
        </table>
    </div>
</div>